doctype html
html(lant="ko")
  head
    //- controller에서 pageTitle 변수를 받아옴
    title #{ pageTitle } | #{ sitename }
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1= pageTitle
      nav
        ul
          li
            a(href="/") Home
          if loggedIn
            li
              a(href=`/users/${loggedInUser._id}`) #{ loggedInUser.name }
            li
              a(href="/users/edit") 프로필 편집
            li
              a(href="/videos/upload") Upload
            li
              a(href="/users/logout") 로그아웃
          else
            li
              a(href="/login") 로그인
            li
              a(href="/join") 회원가입
          li
            a(href="/search") 검색
    main
      block content
  include ./partials/footer.pug
